<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.nabsys.nabeeplus.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.nabsys.nabeeplus.Perspective"
            id="com.nabsys.nabeeplus.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.nabsys.nabeeplus.views.InstanceView"
            icon="icons/all_instances.gif"
            id="com.nabsys.nabeeplus.views.instanceView"
            name="InstanceView"
            restorable="true">
      </view>
      <view
            class="com.nabsys.nabeeplus.views.ServerView"
            icon="icons/serverlist.gif"
            id="com.nabsys.nabeeplus.views.serverView"
            name="ServerView"
            restorable="true">
      </view>
      <view
            class="com.nabsys.nabeeplus.views.SqlParameterView"
            icon="icons/sql.gif"
            id="com.nabsys.nabeeplus.views.sqlParameterView"
            name="SqlParameterView"
            restorable="true">
      </view>
      <view
            class="com.nabsys.nabeeplus.views.SqlResultView"
            icon="icons/table.gif"
            id="com.nabsys.nabeeplus.views.sqlResultView"
            name="SqlResultView"
            restorable="true">
      </view>
      <view
            class="com.nabsys.nabeeplus.views.ServiceRequestView"
            icon="icons/servicetest.gif"
            id="com.nabsys.nabeeplus.views.serviceRequestView"
            name="ServiceRequestView"
            restorable="true">
      </view>
      <view
            class="com.nabsys.nabeeplus.views.SearchResultView"
            icon="icons/search_src.gif"
            id="com.nabsys.nabeeplus.views.searchResultView"
            name="SearchResultView"
            restorable="true">
      </view>
      <view
            class="com.nabsys.nabeeplus.views.ServiceList"
            icon="icons/service_list.gif"
            id="com.nabsys.nabeeplus.views.serviceList"
            name="Service List"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.nabsys.nabeeplus.application"
            name="Nabee Plus">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="ffffff">
         </property>
         <property
               name="startupMessageRect"
               value="7,127,441,20">
         </property>
         <property
               name="startupProgressRect"
               value="7,110,441,15">
         </property>
         <property
               name="appName"
               value="Nabee Plus">
         </property>
         <property
               name="aboutImage"
               value="icons/nabeeabout.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.nabsys.nabeeplus.editors.TestEditor"
            default="false"
            id="com.nabsys.nabeeplus.editors.testEditor"
            name="TestEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.InstanceConfigEditor"
            default="false"
            icon="icons/config_obj.gif"
            id="com.nabsys.nabeeplus.editors.instanceConfigEditor"
            name="InstanceConfigEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.ServerConfigEditor"
            default="false"
            icon="icons/config_obj.gif"
            id="com.nabsys.nabeeplus.editors.serverConfigEditor"
            name="ServerConfigEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.UserListEditor"
            default="false"
            icon="icons/user_view.gif"
            id="com.nabsys.nabeeplus.editors.userListEditor"
            name="UserListEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.TelegramConfigEditor"
            default="false"
            icon="icons/message_storage.gif"
            id="com.nabsys.nabeeplus.editors.telegramConfigEditor"
            name="TelegramConfigEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.TransactionConfigEditor"
            default="false"
            icon="icons/inbound.gif"
            id="com.nabsys.nabeeplus.editors.transactionConfigEditor"
            name="TransactionConfigEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.SqlEditor"
            default="false"
            icon="icons/sqldoc.gif"
            id="com.nabsys.nabeeplus.editors.sqlEditor"
            name="SqlEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.ComponentEditor"
            default="false"
            icon="icons/component.gif"
            id="com.nabsys.nabeeplus.editors.componentEditor"
            name="ComponentEditor">
      </editor>
      <editor
            class="com.nabsys.nabeeplus.editors.ServiceDesigner"
            default="false"
            icon="icons/service_obj.gif"
            id="com.nabsys.nabeeplus.editors.serviceDesigner"
            name="ServiceDesigner">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.nabsys.nabeeplus.command"
            name="command">
      </category>
      <command
            categoryId="com.nabsys.nabeeplus.command"
            id="file.mnuNew"
            name="New">
      </command>
      <command
            categoryId="com.nabsys.nabeeplus.command"
            id="com.nabsys.nabeeplus.actions.newServerAction"
            name="NewServerAction">
      </command>
      <command
            categoryId="com.nabsys.nabeeplus.command"
            id="com.nabsys.nabeeplus.actions.propertyAction"
            name="PropertyAction">
      </command>
   </extension>

</plugin>
